<div class="panel panel-primary" *ngIf="employee">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{employee.name}}
    </h3>
  </div>
  <div class="panel-body">
    <!-- there is no xs in column in bootStrap@4 -->
    <div class="col-xs-20">

      <div class="row vertical-align">

        <div class="col-xs-10">
          <img class="imageClass" [src]="employee.photoPath" />
        </div>
        <div class="col-xs-8">

          <div class="row">
            <div class="col-xs-6">
              Gender
            </div>
            <div class="col-xs-6">
              : {{employee.gender | uppercase}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Date of Birth
            </div>
            <div class="col-xs-6">
              : {{employee.dateOfBirth | date}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Contact Preference
            </div>
            <div class="col-xs-6">
              : {{employee.contactPreference}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Phone
            </div>
            <div class="col-xs-6">
              : {{employee.phoneNumber}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Email
            </div>
            <div class="col-xs-6">
              : {{employee.email}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Department
            </div>
            <div class="col-xs-6" [ngSwitch]="employee.department">
              :
              <span *ngSwitchCase="1">Help Desk</span>
              <span *ngSwitchCase="2">HR</span>
              <span *ngSwitchCase="3">IT</span>
              <span *ngSwitchCase="4">Payroll</span>
              <span *ngSwitchCase="5">Admin</span>
              <span *ngSwitchDefault>N/A</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Is Active
            </div>
            <div class="col-xs-6" [ngSwitch]="employee.isActive">
              :
              <span *ngSwitchCase="true">Yes</span>
              <span *ngSwitchCase="false">No</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <!-- no need to use [] brackets for routeLisk if only one link to pass and i.e. is the link (path) being passed "" -->
    <!-- {id:employee.id,name:employee.name} is an optional paramter -->
    <button class="btn btn-primary" [routerLink]="['/list', { id:employee.id }]" queryParamsHandling="preserve">EmployeeList</button>
    <button class="btn btn-primary pull-right" (click)="viewNextEmployee()" >Next Employee</button>
  </div>
</div>
