<!-- this is html of app component -->
<!-- <button class="btn btn-primary">Submit</button> -->
<div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="list">List</a>
      </li>
      <li>
        <a routerLink="edit/0">Create</a>
      </li>
      <li>
        <a routerLink="login">Login</a>
      </li>
      <li>
        <a routerLink="register">Register</a>
      </li>
      <li>
        <a routerLink="registeredUserListMatTable">User List(Mat)</a>
      </li>
      <li>
          <a routerLink="registeredUserListAgGridTable">User List(Ag)</a>
        </li>
      <!-- <li>
        <a [routerLink]="['/employee', 2]">Employee Detail for EmpId 2</a>
      </li> -->
    </ul>
  </nav>

  <!-- Another type of loading indicator https://loading.io/css/-->
  <div *ngIf="showLoadingIndicator" class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- for loading indicator -->
  <!-- <div *ngIf="showLoadingIndicator" class="spinner">
  </div> -->

  <!-- this has all the events related route and rendered all the time -->
  <router-outlet></router-outlet>

  <!-- <app-list-employees></app-list-employees> -->
</div>
