.button-row button,
.button-row a {
  margin-right: 8px;
  margin-top: 8px;
}

.loading-spinner {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
