<!-- Method 2. for confirm password validation by defining custom validator in ngModelgroup -->
<div ngModelGroup="passwordGroup" appConfirmEqualValidator #passwordGroup="ngModelGroup" [class.has-error]="passwordGroup.errors?.notEqual && !confirmPassword.errors?.required">
  <!-- // for Password -->
  <div class="form-group" [class.has-error]="password.invalid && password.touched" [class.has-success]="password.valid">
    <!-- // for is for focusing on the field to which it is bind or specified so that when clicking on the label it focuses on the field which it is related -->
    <label for="password" class="control-label">Password</label>
    <input class="form-control" type="text" id="password" required name="password" [(ngModel)]="employee.password"
      #password="ngModel">
    <small class="help-block" *ngIf="password.invalid && password.touched">
      Password is required
    </small>
  </div>
  <!-- // for Confirm Password -->
  <div class="form-group" [class.has-error]="confirmPassword.invalid && confirmPassword.touched" [class.has-success]="confirmPassword.valid">
    <!-- // for is for focusing on the field to which it is bind or specified so that when clicking on the label it focuses on the field which it is related -->
    <label for="confirmPassword" class="control-label">Confirm Password</label>
    <input class="form-control" type="text" id="confirmPassword" required name="confirmPassword" [(ngModel)]="employee.confirmPassword"
      #confirmPassword="ngModel">
    <small class="help-block" *ngIf="confirmPassword.errors?.required && confirmPassword.touched">
      Confirm Password is required
    </small>
    <small class="help-block" *ngIf="passwordGroup.errors?.notEqual && !confirmPassword.errors?.required">
      Password and Confirm password do not match
    </small>
  </div>
</div>
